.container {
  border: 10px solid var(--lighter-text-colour);
  margin-top: 100px;
  border-radius: 3px;
  text-align: center;
  max-width: 700px;
  color: var(--text-colour);
  filter: blur(0.55px);
}

@media not all and (min-resolution: 0.001dpcm) {
  .container {
    filter: blur(0px) !important;
  }
}
@supports (-webkit-touch-callout: none) {
  .container {
    filter: blur(0px) !important;
  }
}
