:root {
  --text-colour: rgb(112, 1, 1);
  --sample-colour: #480d0d;
  --lighter-text-colour: #480d0dc4;
}

.container {
  border: 10px solid var(--lighter-text-colour);
  margin-top: 100px;
  border-radius: 3px;
  text-align: center;
  max-width: 700px;
  color: var(--text-colour);
  filter: blur(0.55px);
}

body {
  background-image: url(noise.svg);
}

.city-title {
  margin: 0 auto;
  margin-top: 60px;
  font-size: 50px;
}
.country-title {
  margin-top: 20px;
  font-size: 35px;
  font-family: "Playfair Display";
}

.search-engine {
  padding: 25px 20px 10px 20px;
}
.search-bar,
.search-button {
  border: 1px solid var(--sample-colour);
}
.search-bar::placeholder,
.search-button,
.search-button:hover,
.search-bar:focus,
.search-bar {
  font-family: "Playfair Display";
  color: var(--text-colour);
  font-size: 18px;
}
.search-bar {
  background: transparent;
  padding: 12px;
}

.search-bar:focus {
  background-color: transparent;
}

.search-button {
  padding: 12px 18px;
}
.search-button:hover {
  background-color: #480d0dad;
  color: antiquewhite;
}

.current-date {
  background-image: url(./images/center-piece.png);
  background-size: 320px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px;
  font-style: italic;
  font-weight: 700;
}

.current-weather-details {
  margin-top: 15px;
}
.current-weather {
  --bs-list-group-bg: transparent !important;
  --bs-list-group-color: var(--text-colour) !important;
  font-size: 21px;
  font-family: "Playfair Display", serif;
  font-weight: 300;
  line-height: 1.7;
  font-style: italic;
}
.list-group-item {
  border-bottom: 1px solid var(--text-colour) !important;
}
.current-weather-decoration {
  margin-top: 25px;
}
