footer {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: monospace;
  font-size: 14px;
  text-align: center;
  max-width: 600px;
  filter: blur(0.55px);
}

footer,
footer a {
  color: var(--lighter-text-colour);
}

footer a:hover {
  color: var(--sample-colour);
  text-decoration: none;
}

@media not all and (min-resolution: 0.001dpcm) {
  footer {
    filter: blur(0px) !important;
  }
}
@supports (-webkit-touch-callout: none) {
  footer {
    filter: blur(0px) !important;
  }
}
