footer {
  margin: 0 auto;
  margin-top: 50px;
  font-family: monospace;
  font-size: 14px;
  text-align: center;
  max-width: 600px;
  filter: blur(0.55px);
}

footer,
footer a {
  color: var(--lighter-text-colour);
}

footer a:hover {
  color: var(--sample-colour);
  text-decoration: none;
}
