.Header .city-country {
  padding: 0px;
}

.Header .city-title {
  margin: 0 auto;
  margin-top: 60px;
  font-size: 50px;
}
.Header .country-title {
  margin-top: 20px;
  font-size: 35px;
  font-family: "Playfair Display";
}

@media (max-width: 576px) {
  .Header {
    background-image: url(./images/Left-design.png),
      url(./images/Right-design.png);
    background-size: 150px;
    background-repeat: no-repeat, no-repeat;
    background-position: left, right;
  }
}
