:root {
  --text-colour: rgb(112, 1, 1);
  --sample-colour: #480d0d;
  --lighter-text-colour: #480d0dc4;
}

body {
  background-image: url(noise.svg);
}

.Weather .container {
  margin: 5px;
}

.Weather .search-engine {
  padding: 25px 20px 10px 20px;
}
.Weather .search-bar,
.Weather .search-button {
  border: 1px solid var(--sample-colour);
}
.Weather .search-bar::placeholder,
.Weather .search-button,
.Weather .search-button:hover,
.Weather .search-bar:focus,
.Weather .search-bar {
  font-family: "Playfair Display";
  color: var(--lighter-text-colour);
  font-size: 18px;
}
.Weather .search-bar {
  background: transparent;
  padding: 12px;
}

.Weather .search-bar:focus {
  background-color: transparent;
}

.Weather .search-button {
  padding: 12px 18px;
}
.Weather .search-button:hover {
  background-color: #480d0dad;
  color: antiquewhite;
}

@media (max-width: 605px) {
  .search-engine,
  .search-button-div {
    padding: 0px !important;
  }
}

@media (max-width: 576px) {
  .search-button {
    padding: 6px 9px !important;
  }

  .search-bar {
    padding: 6px !important;
  }

  .container {
    margin: 15px 10px !important;
    border: 5px solid !important;
  }
}

@media (max-width: 361px) {
  .search-bar::placeholder,
  .search-button,
  .search-button:hover,
  .search-bar:focus,
  .search-bar {
    font-size: 13px !important;
  }

  .search-bar-div {
    padding-right: 0px !important;
  }
}
